@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Maitree:wght@200;300;400;500;600;700&display=swap');

body{
    background-color: black;
    margin: 45px;
    margin-top: 0px;
}

/* header */

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 96px;
}

.btn-container {
    display: flex; 
    gap: 10px; 
}

.btn{
    padding: 4px 40px 4px 40px;
    border-radius: 16px;
    text-decoration: none;
    border: none;
    margin: 20px 40px 20px 0;
}

.button-logIn, .button-signUp{
    background-color: rgba(244, 182, 128, 0.67);
    color: white;
    font-family: "Afacad", sans-serif;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.button-logIn:hover, .button-signUp:hover{
    background-color: rgba(144, 114, 88, 0.67);
    font-size: 18px;
    color: white;
    padding: 6px 44px 6px 44px;
}

.logo-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logo{
    height: 120px;
    transition: all 0.3s ease;
}

.logo:hover{
    
    height: 130px;
}

.logo-text{
    color: white;
    font-family: "Afacad", sans-serif;
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: 500;
}

section.create-account{
    position: relative; /*Padre*/
    background-color: #2B1500;
    height: 80vh; /*Ocupar todo el tamaño de pantalla*/
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50px;
}

.image_back{
    position: absolute; /*Hijo*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/createAccount/Back.png);
    background-size: cover; /*Cubirir toda la sección con la imagen*/
    background-position: center;
    opacity: 0.35;
    z-index: 1; /*indica que la imagen va 'enfrente' de la sección*/
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    z-index: 2;
}

.title-createAccount{
    font-family: "Afacad", sans-serif;
    color: white;
    font-size: 48px;
    font-weight: 500;
    margin: 0;
    text-align: center;
}

.form-createAccount{
    display: flex;
    flex-direction: column;
    gap:15px;
    width: 550px;
}

.form-row-lastname{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}

.name, .username, .password{
    font-family: "Afacad", sans-serif;
    font-size: 20px;
    color: #ffffff;
    background-color: transparent;
    font-weight: 400;
    border: none;
    outline: none;
    border-bottom: 2px solid #ffffff;
    width: 100%;
    padding: 15px 0;
}

.Flastname, .Mlastname{
    font-family: "Afacad", sans-serif;
    font-size: 20px;
    color: #ffffff;
    background-color: transparent;
    font-weight: 400;
    border: none;
    outline: none;
    border-bottom: 2px solid #ffffff;
    width: 46%;
    padding: 15px 0;
}

::placeholder{
    color: #ffffff;
    font-family: "Afacad", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

input:focus::placeholder{
    color:transparent;
}

.name:focus, .Flastname:focus, .Mlastname:focus, .username:focus, .password:focus{
    font-family: "Afacad", sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid #ffffff;
    padding: 5px 0;
}

.btn-createaccount{
    background-color: #7B412B;
    font-family: "Afacad", sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    width: 130px;
    border-radius: 10px;
    padding: 6px 20px;
    margin: 16px auto;
    display: block;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.25);
}

.btn-createaccount:hover{
    background-color: #915741;
    box-shadow: 8px 15px 15px rgba(0, 0, 0, 0.25);
    transform: translateY(-2px);
    cursor: pointer;
}

.link-login{
    font-family: "Afacad", sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500; 
}