@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Maitree:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0; /* Para eliminar márgenes por defecto */
}

section.first, .second{
    position: relative; /*Padre*/
    background-color: black;
    height: 100vh; /*Ocupar todo el tamaño de pantalla*/
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.image_back{
    position: absolute; /*Hijo*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/welcome/Back.png);
    background-size: cover; /*Cubirir toda la sección con la imagen*/
    background-position: center;
    opacity: 0.30;
    z-index: 1; /*indica que la imagen va 'enfrente' de la sección*/
}

.principal{
    position: relative;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
}

.principal_info{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    z-index: 2;
}

h1.title{
    font-family: "Afacad", sans-serif;
    color: white;
    font-size: 138px;
    font-weight: 500;
    letter-spacing: 15px;
    margin: 0;
    z-index: 2;
}

h3.slogan{
    font-family: "Chivo", sans-serif;
    color:white;
    font-size: 24px;
    font-weight: 300;
    margin: 10px 0 0 0;
    z-index: 2;
}

.image-collection{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr;
    gap: 20px;
    width: 100%;
    align-self: flex-end;
    z-index: 2;
}

.image1{
    grid-column: 1/2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px 20px 0px 0px;
}

.image2{
    grid-column: 2/3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px 20px 0px 0px;
}

.image3{
    grid-column: 3/4;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px 20px 0px 0px;
}

.image4{
    grid-column: 4/5;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px 20px 0px 0px;
}

.principal2, .principal3 {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.imagecollection2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr, 1fr;
    gap: 35px;
    width: 50%; /* Ocupa la mitad de la pantalla */
    margin-top: 7%;
    margin-left: 5%;
}

.image5 {
    grid-area: 1 / 1 / 2 / 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}

.image6 {
    grid-area: 2 / 1 / 3 / 2;
    width: 100%;
    height: 30%;
    object-fit: cover;
    border-radius: 50px;
}

.image7 {
    grid-area: 2 / 2 / 3 / 3;
    width: 100%;
    height: 30%;
    object-fit: cover;
    border-radius: 50px;
}

.info2, .info3{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;   
    width: 50%; 
    
}

h2.subtitle2, .subtitle3{
    font-family: "Chivo", sans-serif;
    font-size: 40px;
    font-weight: 600;
}

p.text2, p.text3{
    font-family: "Chivo", sans-serif;
    font-size: 24px;
    font-weight: 300;
}

section.third{
    position: relative; /*Padre*/
    background-color: #1C1200;
    height: 100vh; /*Ocupar todo el tamaño de pantalla*/
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.imagecollection3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr, 1fr;
    width: 50%;
    height: 50%;
    margin-top: 12%;
    margin-right: 5%;
    gap: 40px;
}

.image8{
    grid-area: 1 / 1 / 3/ 2 ; /*Row - Column - RowEnd - ColumnEnd*/
    width: 100%;
    height: 100%;
    border-radius: 50px;
    object-fit: cover;
}

.image9{
    grid-area: 1 / 2 / 2 / 2 ;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    object-fit: cover;
}

.image10{
    grid-area: 2 / 2 / 3 / 2;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    object-fit: cover;
}

.graphImg{
    grid-area: 1 / 1 / 3 / 3;
    position: absolute;
    top: 40%;
    left: 57%;
    height: auto;
    z-index: 1;
}

.graph{
    width: 70%;
    height: 80%;
    border-radius: 50px;
    object-fit: contain;
}